operator:
  image: aveshasystems/worker-operator
  pullPolicy: IfNotPresent
  logLevel: INFO
  tag: 0.21.0
## Base64 encoded secret values from controller cluster
controllerSecret:
  namespace:
  endpoint:
  ca.crt:
  token:

cluster:
  name:
  nodeIp: # This field is deprecated. You can set nodeIPs through cluster spec.
  endpoint:

router:
  image: docker.io/aveshasystems/cmd-nse-vl3
  tag: 1.0.2
  pullPolicy: IfNotPresent                                                                                     

routerSidecar:
  image: docker.io/aveshasystems/kubeslice-router-sidecar
  tag: 1.4.1
  pullPolicy: IfNotPresent

netop:
  networkInterface: eth0
  image: docker.io/aveshasystems/netops
  tag: 0.2.0
  pullPolicy: IfNotPresent

gateway:
  image: docker.io/aveshasystems/gw-sidecar
  tag: 0.3.0
  pullPolicy: IfNotPresent
  logLevel: INFO

openvpn:
  server:
    image: docker.io/aveshasystems/openvpn-server.alpine.amd64
    tag: 1.0.1
    pullPolicy: IfNotPresent
  client:
    image: docker.io/aveshasystems/openvpn-client.alpine.amd64
    tag: 1.0.0
    pullPolicy: IfNotPresent

dns:
  image: docker.io/aveshasystems/dns
  tag: 0.1.0
  pullPolicy: IfNotPresent

jaeger:
  enabled: false

events:
  disabled: true

imagePullSecrets: []

# change ths value for intracluster where controller cluster is in same cluster as worker as is different from default
controllerNamespace: kubeslice-controller
