# Default values for k-native.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

kubeslice:
  rbacproxy:
    image: gcr.io/kubebuilder/kube-rbac-proxy
    tag: v0.8.0
  controller:
    logLevel: debug
    rbacResourcePrefix: kubeslice-rbac
    projectnsPrefix: kubeslice
    endpoint:
    image: docker.io/aveshasystems/kubeslice-controller
    tag: 1.3.0
    pullPolicy: IfNotPresent
  ovpnJob:
    image: aveshasystems/gateway-certs-generator
    tag: 0.3.0
  events:
    disabled: false
