name: Release Helm Charts

# on:
#  workflow_run:
#    workflows: ["Opensource Charts Validation"]
#    types:
#      - completed
on:
  push:
    branches:
      - master
      

jobs:
  release:
    #if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Fetch history
        run: git fetch --prune --unshallow

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v2.0
        with:
          version: v3.8.1
          
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.0
        env:
          CR_TOKEN: "${{ secrets.TOKEN }}"
